.react-calendar__tile {
    margin: 5px 0;
    color: gray;
}

/* Highlight today's date */
.react-calendar .today-highlight {
    background-color: green; /* Highlight color for today's date */
    border-radius: 50%; /* Circular shape */
    color: white;
}

/* Custom styles for the calendar header */
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1rem     ;
}

.calendar-header .month-name {
    font-weight: bold;
}

/* Remove underline from week names */
.react-calendar__month-view__weekdays__weekday {
    text-decoration: none;
    /* font-weight: bold; */
    text-align: center; /* Center-align the week names */
    padding: 5px 0; /* Add vertical padding for spacing */
}

/* Styling for the week names as single capital letters */
.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none !important; /* Remove the underline */
    font-size: 1em; /* Slightly larger for readability */
}

/* Adjust the flex properties of the weekday headers */
.react-calendar__month-view__weekdays {
    display: flex;
    justify-content: space-around; /* Ensure equal spacing between weekday names */
}

/* Hide the default navigation at the top */
.react-calendar__navigation {
    display: none;
}
button{
    cursor: pointer;
}